<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechnoHub - Baros Information Technology Creative</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <div class="navbar">
            <div class="logo">BITC</div>
            <button class="nav-toggle" aria-label="toggle navigation">
                <span class="hamburger"></span>
            </button>
            <nav class="nav">
                <a href="./index.html">Home</a>
                <a href="./contact-section.html">Complaints</a>
                <a href="#">Live Chat</a>
                <a href="./callcenter.html">Call Center</a>
            </nav>
        </div>

        <div class="header-text">
            <div class="text-content">
                <h1>Baros Information Technology Creative</h1>
                <h2>Feedback dan Keluhan</h2>
                <p>Selamat datang di halaman Feedback dan Keluhan Baros Information Technology Creative. Kami menghargai
                    masukan Anda untuk meningkatkan layanan kami. Silakan sampaikan feedback, saran, atau keluhan Anda.
                </p>
                <a href="#main-content" class="cta-button">Learn More</a>
            </div>
        </div>
    </header>

    <main id="main-content">
        <div class="card-container">
            <div class="card card1">
                <img src="./icon/pengaduan.png" alt="Icon 1" class="card-image">
                <h3>Complaints</h3>
                <p>Solusi menyelesaikan kendala</p>
                <a href="contact-section.html"><button>Buat Pengaduan</button></a>
            </div>
            <div class="card card2">
                <img src="./icon/ai.png" alt="Icon 2" class="card-image">
                <h3>Live Chat</h3>
                <p>Chat dengan TechnoHub untuk dapatkan informasi seputar layanan</p>
                <button>Chat Sekarang</button>
            </div>
            <div class="card card3">
                <img src="./icon/cs.png" alt="Icon 3" class="card-image">
                <h3>Call Center & Email</h3>
                <p>Sampaikan pertanyaan atau keluhan</p>
                <a href="callcenter.html"><button>Hubungi Kami</button></a>
            </div>
        </div>
    </main>

    <footer>
        <footer-bar></footer-bar>
    </footer>
    <script src="index.js"></script>
</body>

</html>